*{
    margin: 0;
    padding: 0;
    transition:1s;
}
html{
    object-fit: cover;
    background-image: url(../imagen/fondo_card.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    background-size: 100%  100%;
}
.menu_bandera{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

img{
    object-fit: cover;
    width:170px;
    margin:0px  30px ;
    text-align: center;
}
article{
    background:rgba(15, 15, 15 ,0.5);
    border-bottom-right-radius: 30px;
}
h1, h2{
    text-align: center;
}
@scope (.menu_bandera ) {
}   h2 {
    
 color: goldenrod;
    }
  
  


  
/* .container_menu_banderas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

} 
.titulo{
    background-image:linear-gradient(to left, yellow , rgb(253, 6, 6));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
padding: 10px;
text-align: center;
}

.container_img h1{
    color: yellow;
    font-size: 15px;
    text-align: center;
}
.container_img p{
    width: 100%;  
}
.mostrar{
    display: none;
 
}
.container_img{
    padding: 10px 0px;
    background: rgba(0, 0, 0,0.3);
    margin: 10px;
    border-radius: 10px;
    width: 17%;
    text-wrap: balance;
    border-bottom-right-radius: 40px;
}
.container_img a{
    text-align:center;
    display: block;
    color:white;
}
img:hover{
    transform: rotatey(360deg);
    transition: 2s;
}
a{
  text-decoration: none;
}
.container_img button{
    width: 140px;
    padding: 6px;
    margin: 0px 50px ;
    background:transparent;
    border-radius: 10px;
    color:white;
 
}

button:hover{
    box-shadow:   rgb(7, 71, 236) 0.6px 0.6px 0.6px 0.6px;

    background:black;
} */