

*{
    margin: 0;
    padding: 0;
}
    body{
    background-image:url(/public/imagen/fondo_card.jpg);
    background-repeat:no-repeat;
    box-sizing:border-box;
    background-attachment: fixed;
    background-size:100%;
}



.container {
  max-width: 500px;
  margin: 0 auto;
  background:rgba(14, 13, 13,0.3);

  padding: 20px;
  border-radius: 8px;

    /* display: none; */
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inline-group {
  display: flex;
  gap: 15px;
}

.inline-group > div {
  flex: 1;
}

textarea {
  resize: vertical;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
